html,
body {
  margin: 0;
  padding: 0;
}

.form {
  padding: 8px
}

.todos {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todos__item {
  margin: 8px;
}

.todos__item_checked {
  background-color: #9ea;
}
